<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.number_field :employee_id %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label :pay %>
    <%= f.text_field :pay %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :schedule_slot %>
    <%= f.text_field :schedule_slot %>
  </div>

  <div class="field">
    <%= f.label :integer %>
    <%= f.text_field :integer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
